/// Placeholders


// Layout

%screen-main {
  max-width: 1080px;
  margin: 0 auto;
}

%screen-menu {
  max-width: 1055px;
  margin: 0 auto;
}


// Flexbox

%flex--center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

%flex--between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

%flex--column {
  flex-direction: column;
}