/// $Variables


/// $Colors

// button color 1 / button list / icon color :hover
$medium-purple: hsl(267, 65%, 60%);
// rgb(147, 86, 220)

// button color 2
$blush-pink: hsl(316, 100%, 73%);
// rgb(255, 121, 218)

// block new background / item checked / underline
$morning-glory: hsl(165, 55%, 74%);
// rgb(153, 226, 208)

// block new text
// color darkened for accessibility purpose
$deep-sea: hsl(165, 100%, 20%);

// list icon color
$gray: hsl(0, 0%, 49%);
// rgb(126, 126, 126)

// color not found
$malibu: hsl(206, 91%, 75%);
// rgb(137, 200, 250)

// color not found
$midnight-blue: hsl(206, 100%, 20%);
// rgb(0, 58, 104)

// logo header / restaurant heading
$cod-gray: hsl(0, 0%, 6%);
// rgb(16, 16, 16)

// text sur fond clair / entrées du menu
$black: hsl(0, 0%, 0%);
// rgb(0, 0, 0)

// background body / button text / background card
$white: hsl(0, 0%, 100%);
// rgb(255, 255, 255)

// background location
$gallery: hsl(0, 0%, 91%);
// rgb(234, 234, 234)

// background footer / text subtitle cover / text location / couleur flèche (ajouter hover)
$mine-shaft: hsl(0, 0%, 20%);
// rgb(53, 53, 53)

// background cover / background item fonctionnement / background restaurant
$wild-sand: hsl(0, 0%, 96%);
// rgb(246, 246, 246)