/// $Variables


/// $Colors

// button color 1 / button list / icon color :hover
$medium-purple: #9356DC;

// button color 2
$blush-pink: #FF79DA;

// block new background / item checked / underline
$morning-glory: #99E2D0;

// block new text
// color darkened for accessibility purpose
$sherwood-green: #023B31;

// list icon color
$gray: #7E7E7E;

// logo header / restaurant heading
$cod-gray: #101010;

// text sur fond clair / entrées du menu
$black: #000;

// background body / button text / background card
$white: #fff;

// background location
$gallery: #EAEAEA;

// background footer / text subtitle cover / text location / couleur flèche (ajouter hover)
$mine-shaft: #353535;

// background cover / background item fonctionnement / background restaurant
$wild-sand: #F6F6F6;


// Gutters

:root {
	--pad-tb-xs: 	clamp(14px, 3vh, 30px);		// header
	--pad-m: 			clamp(18px, 4vw, 40px);		// sections
	--pad-b: 			clamp(25px, 5vh, 50px);		// footer
	--pad-xb: 		clamp(60px, 3vh, 30px);		// restaurant
}