/*
  ========================================
  $Header
  ========================================
*/

/* $Variables
   ==================================== */

@use '../abstracts' as a;

.section-header {
	@extend %flex--center;
	position: relative; // for box-shadow to appear
	z-index: 2; // for box-shadow to appear
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
	padding: var(--pad-tb-xs) 0;
}
