/*
  ========================================
  $Components
  ========================================
*/

/* $Buttons
   ==================================== */

@use '../abstracts' as a;


// Used as an anchor on homepage
// and as a submit button on restaurant page
.main-cta {
  position: relative;
  z-index: 1;
  color: a.$white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
  background: linear-gradient(a.$blush-pink, a.$medium-purple);
	padding: 13px 18.75px;

  &:hover {
    &::after {
      opacity: 1;
  	}
	}

	&::after {
		content: "";
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  opacity: 0;
	  z-index: -1;
	  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
	  border-radius: 25px;
	  background: linear-gradient(
	  	lighten(a.$blush-pink, 4%), 
	  	lighten(a.$medium-purple, 4%));
	  transition: opacity 200ms;
	}

}