/*
  ========================================
  $Components
  ========================================
*/

/* $Buttons
   ==================================== */

@use '../abstracts' as a;


// Used as an anchor on homepage
// and as a submit button on restaurant page
.main-cta {
  position: relative;
  z-index: 1;
  color: a.$white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
	border-radius: 25px;
  background: linear-gradient(a.$blush-pink, a.$medium-purple);
	padding: 13px 18.75px;

  &:hover {
    &::after {
      opacity: 1;
  	}
	}

	&::after {
		content: "";
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  opacity: 0;
	  z-index: -1;
	  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
	  border-radius: 25px;
	  background: linear-gradient(
	  	lighten(a.$blush-pink, 4%), 
	  	lighten(a.$medium-purple, 4%));
	  transition: opacity 200ms;
	}

}


/* $Icons
   ==================================== */

.icon-heart {
  position: relative;
  z-index: 1;
  background: transparent;
  color: transparent;
  font-size: 1.375rem;
  -webkit-text-stroke: 0.75px black;

  &:hover {
  	&::after {
	  	opacity: 1;
	  	transform: scale(1);
  	}
	}
  
  &::after{
		content: "\f004";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0;
		z-index: -1;
		background-clip: text !important;
		-webkit-background-clip: text !important;
		background: 
		  linear-gradient(a.$medium-purple, a.$blush-pink);
		-webkit-text-stroke-color: unset !important;
		-webkit-text-stroke-width: 0 !important;
		transform: scale(0);
		transition: 
		  transform 300ms, 
		  opacity 250ms 50ms;
	}

}