/*
  ========================================
  $Cards
  ========================================
*/

@use '../abstracts' as a;
@use '../base' as b;


/* $Card operation
   ==================================== */

.card-operation {
	display: flex; // voir si placeholder
  align-items: end;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: a.$wild-sand;
  padding: 34px 27px;
  cursor: pointer;

  @include a.bp(medium) {
    align-items: center;
    padding: 28px 15px;

  }

  @include a.bp(large) {
    &:first-child {
      margin-left: 12px; // replace card in layout
    }
  }

  &__number {
  	position: relative;
  	right: 38px; // place item on border
  	border-radius: 25px;
  	background-color: a.$medium-purple;
  	padding: 4px 8px;
  	color: a.$white;
  	font-size: 14px;

    @include a.bp(medium) {
      right: 28px;
    }
  }

  &__icon {
  	fill: a.$gray;
  }

  &__details {
  	padding-left: clamp(20px, 1vw, 10px);
  	@extend %font-s;
  }

  @include a.bp(large) {
    width: 30%;
  }

}

.card-operation:hover .card-operation__icon {
  fill: a.$medium-purple;
}



/* $Card restaurant
   ==================================== */

.card-restaurant {
	position: relative;
	margin-top: 18px;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
	border-radius: 15px;
	background: a.$white;

  @include a.bp(medium) {
    flex: 1 1 47%;
    max-width: 47%;
  }

	&__image {
  	border-radius: 15px 15px 0 0;
  	max-height: 225px;
	}

	&__label {
  	position: absolute;
  	top: 15px;
  	right: 15px;
  	z-index: 99;
  	background-color: a.$morning-glory;
  	padding: 7px 9px;
  	color: a.$tropical-rain-forest;
	}

	&__content {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	padding: 16px 25px 16px 16px;
	}	

	&__headline a:hover {
    color: a.$medium-purple;
  }
  
	&__subhead {
  	padding-top: 5px;
	}

}