/*
  ========================================
  $Cards
  ========================================
*/

@use '../abstracts' as a;
@use '../base' as b;


/* $Card operation
   ==================================== */

.card-operation {
	display: flex; // voir si placeholder
  align-items: end;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: a.$wild-sand;
  padding: 34px 27px;

  &__number {
  	position: relative;
  	right: 40px;
  	border-radius: 25px;
  	background-color: a.$medium-purple;
  	padding: 4px 8px;
  	color: a.$white;
  	font-size: 14px;
  }

  &__icon {
  	fill: a.$gray;
  }

  &__details {
  	padding-left: 20px;
  	@extend %font-s;
  }

}

.card-operation:hover .card-operation__icon {
  fill: a.$medium-purple;
}


/* $Card restaurant
   ==================================== */

.card-restaurant {
	position: relative;
	margin-top: 18px;
	box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
	border-radius: 15px;
	background: a.$white;

	&__image {
  	border-radius: 15px 15px 0 0;
  	max-height: 225px;
	}

	&__label {
  	position: absolute;
  	top: 15px;
  	right: 15px;
  	z-index: 99;
  	background-color: a.$morning-glory;
  	padding: 7px 9px;
  	color: a.$deep-sea;
	}

	&__content {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	padding: 16px 25px 16px 16px;
	}	

	&__details {}
	&__headline {}
	&__subhead {
  	padding-top: 5px;
	}

	&__icon,
	&__icon:not(:hover) {
		opacity: 1;
    font-size: 1.5rem;
    color: white;
  //-webkit-background-clip: text;
 //-webkit-text-fill-color: transparent;  
    -webkit-text-stroke: 1px black;
    -webkit-background-clip: text;
    background-clip: text;
    transition: background 350ms ease-in-out;
	&:hover {
		opacity: 0.8;
	  color: transparent;
	  -webkit-text-stroke: white;
	  background: linear-gradient(#9356DC, #FF79DA);
	  -webkit-background-clip: text;
	  background-clip: text;
    transition: opacity 350ms ease-in-out;
	}
	}

}