/// Form

@use '../abstracts' as a;
@use '../base' as b;


// Reset

legend {
  padding: 0;
  display: table;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  min-width: 0;
}


// Menu

.form-menu {
	overflow: hidden;
}

// fieldset
.panel-menu {
	display: flex;
	flex-direction: column;
	gap: 12px;
	@extend %slide-right;

  &--1 {
    animation-delay: 1000ms;
  }

  &--2 {
    animation-delay: 1300ms;
  }

  &--3 {
    animation-delay: 1600ms;
  }  

	@include a.bp(large) {
		max-width: 634px;
	  margin: 0 auto;
	}
}

.card-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.10);
  border-radius: 0.94rem;
  background: a.$white;
  margin-top: 12px;
  overflow: hidden;
  cursor: pointer;
}


.menu {

	// W3 recommandation
	&__checkbox {
	  position: absolute;
	  margin: -1px;
	  border: 0;
	  padding: 0;
	  width: 1px;
	  height: 1px;
	  overflow: hidden;
	  clip: rect(0 0 0 0);
	}

	&__label {
	  display: flex;
	  justify-content: space-between;
	  align-items: end;
	  gap: 25px;
	  padding: 15px;
	  width: 100%;
	  cursor: pointer;
	}

	&__headline {
	  display: flex;
	  flex-direction: column;
	  gap: 5px;
	  overflow: hidden;
	  @include b.select-dish(margin-right);
	}

	&__heading,
	&__subhead {
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	}

	&__pricing {
	  @include b.select-dish();
	}

	&__box {
	  display:flex;
	  align-items:center;
	  justify-content:center;
	  position: absolute;
	  right: 0;
	  border-radius:0 0.94rem 0.94rem 0rem;
	  background:#99E2D0;
	  width: 60px;
	  height: 100%;
	  @include b.select-dish();
	  transform: translateX(100%); 
	}

	&__box::after{
		@extend %flex--center;
	  content: "\f00c";
	  font: var(--fa-font-solid);
	  border-radius: 50% 50%;
	  background: a.$white;
	  width: 1.15rem;
	  height: 1.15rem;  
	  color: a.$morning-glory;
		@extend %pin-rotate-back;
	}
}

.menu__checkbox:checked ~ * .menu__headline {
  margin-right: 60px;
}

.menu__checkbox:checked ~ * .menu__pricing {
  transform: translateX(-60px);
}

.menu__checkbox:checked ~ .menu__box {
  transform: translateX(0);
}

.menu__checkbox:checked ~ .menu__box::after {
	@extend %pin-rotate;
}