/// Loader

@use '../abstracts' as a;
@use '../base' as b;

.modal {
  position: fixed;
  display: grid;
  z-index: 98;
  width: 100vw;
  height: 100vh;
  background-color: a.$mine-shaft;
  color: a.$white;
  animation: loader-3 400ms 1000ms forwards;  
}

.loader {
  margin: auto;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader div {
  position: absolute;
  top: 30px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;

	&:nth-child(1) {
  	left: 10px;
  	@include b.loader(loader-1);
	}

	&:nth-child(2) {
	  left: 10px;
  	@include b.loader();
	}

	&:nth-child(3) {
	  left: 35px;
  	@include b.loader();
	}

	&:nth-child(4) {
  	left: 60px;
  	@include b.loader(loader-3);
  }
}