/*
  ========================================
  $Typography
  ========================================
*/

@use '../abstracts' as a;

// $Variables

:root {
  --f-size-s: clamp(1rem, 0.227vw + 0.943rem, 1.125rem);    	// body: 16px
	--f-size-m: clamp(1.063rem, 0.227vw + 1.006rem, 1.188rem);	// 17px
	--f-size-l: clamp(1.125rem, 0.227vw + 1.068rem, 1.25rem);		// 18px
	--f-size-xl: clamp(1.5rem, 0.227vw + 1.443rem, 1.625rem);		// 24px
	--f-size-xxl: clamp(1.875rem, 0.227vw + 1.818rem, 2rem);		// logo: 30px
  --l-height:  1.1;
}

// location / button / footer links / card-operation__content
body {
	background-color: a.$white;
	color: a.$black;
	font-family: 'Roboto', sans-serif;
	line-height: var(--l-height);
}

body,
%font-s {
	font-size: var(--f-size-s);
	font-weight: 500;
}

.section-hero__heading,
.heading-2,
.heading-3,
.menu__pricing {
	font-weight: 700;
}

.section-hero__subtitle,
.card-restaurant__subhead,
.cover__subtitle,
.menu__subhead {
	font-weight: 300;
}

.section-hero__heading,
.heading-2 {
	font-size: var(--f-size-xl);
}

.heading-3,
.section-hero__subtitle,
.menu__heading {
	font-size: var(--f-size-l);
}


.card-restaurant__subhead {
	font-size: var(--f-size-m);
}

.restaurant__heading-2 {
	display: inline-block;
	font-size: var(--f-size-m);
	font-weight: 300;
	text-transform: uppercase;
	border-bottom: 3px solid a.$morning-glory;
	width: 40px;
	padding-bottom: 5px;
}

.cover__subtitle {
	color: a.$mine-shaft;
}

.section-footer__links {
	color: a.$white;
}


// Texts using Shrikhand font

@font-face {
  font-family: 'Shrikhand';
  src:
		local("Shrikhand"),
    url("../assets/fonts/Shrikhand-Regular.ttf");
}

%shrikhand {
	font-family: 'Shrikhand', serif;
	font-weight: 400;
}

	.header__logo {
		@extend %shrikhand;
		color: a.$cod-gray;
		font-size: 30px;
	}

	.footer__logo {
		@extend %shrikhand;
		font-size: 18px;
	}

	.restaurant__heading-1 {
		@extend %shrikhand;
		color: a.$cod-gray;
		font-size: 28px;
	}