/*
  ========================================
  $Reset
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Typography
  ========================================
*/
/* $Variables
   ==================================== */
body {
  font-size: 2rem;
}

/*
  ========================================
  $Base
  ========================================
*/
/* $Variables
   ==================================== */
body {
  background-color: grey;
}

/*
  ========================================
  $Animations
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Navigation
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Grid
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Header
  ========================================
*/
/* $Variables
   ==================================== */
main {
  display: flex;
  margin: 34px;
}

/*
  ========================================
  $Footer
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Sidebar
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Form
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Buttons
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Carousel
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Cover
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Dropdown
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Thumbnails
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Home
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $About
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Contact
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Theme
  ========================================
*/
/* $Variables
   ==================================== */
/*
  ========================================
  $Admin
  ========================================
*/
/* $Variables
   ==================================== */

/*# sourceMappingURL=style.css.map */
