/*
  ========================================
  $Home
  ========================================
*/

/* $Section location
   ==================================== */

@use '../abstracts' as a;

.section-location {
	@extend %flex--center;
	background-color: a.$gallery;
	padding: 15px 0;
	color: a.$mine-shaft;

	&__content {
		margin-left: 17px;
	}
}


/* $Section cover
   ==================================== */

.section-cover {
	@extend %flex--center;
	@extend %flex--column;
	background-color: a.$wild-sand;
	padding: 39px 26px 57px 26px;
	text-align: center;
}

.section-cover__subtitle {
	padding: 16px 0 27px 0;
}


/* $Section operation
   ==================================== */

.section-operation {
	padding: 48px 20px 68px 20px;
}

	.panel-operation {
		display: flex;
		flex-direction: column;
		gap: 25px;
		padding-top: 26px;
	}

		.card-operation {
			display: flex;
			align-items: end;
			box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
			border-radius: 20px;
			background-color: a.$wild-sand;
			padding: 34px 27px;

			&__number {
				position: relative;
				right: 40px;
				border-radius: 25px;
				background-color: a.$medium-purple;
				padding: 4px 8px;
				color: a.$white;
				font-size: 14px;
			}

			&__icon {
				fill: a.$gray;
			}

			&__details {
				padding-left: 20px;
			}

		}

		.card-operation:hover .card-operation__icon {
			fill: a.$medium-purple;
		}

		.card-operation:hover .card-operation__details {
			color: a.$medium-purple;
		}


/* $Section restaurants
   ==================================== */

.section-restaurants {
	padding: 54px 17px 66px 17px;
	background-color: a.$wild-sand;

}

	.panel-restaurants {
		padding-top: 10px;
	}

		.card-restaurant {
			position: relative;
			margin-top: 18px;
			box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
			border-radius: 15px;
			background: a.$white;

			&__image {
				border-radius: 15px 15px 0 0;
			}

			&__label {
				position: absolute;
				top: 15px;
				right: 15px;
				background-color: a.$morning-glory;
				padding: 7px 9px;
				color: a.$deep-sea;
			}

			&__content {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 16px 25px 16px 16px;
			}	

				&__details {}
					&__headline {}
					&__subhead {
						padding-top: 5px;
					}
				&__icon {}

		}