/*
  ========================================
  $Homepage
  ========================================
*/

@use '../abstracts' as a;
@use '../base' as b;


/* $Section location
   ==================================== */

.section-location {
	@extend %flex--center;
	background-color: a.$gallery;
	padding: 15px 0;
	color: a.$mine-shaft;
}

	.location__icon {
		margin-left: 22px; // center form, ashamed
	}

	.location__result {
		margin-left: 15px;
		border: none;
		background: transparent;
		width: 150px; // center form, ashamed
	}



/* $Section cover
   ==================================== */

.section-cover {
	@extend %flex--center;
	@extend %flex--column;
	background-color: a.$wild-sand;
	padding: 39px 26px 57px 26px;
	text-align: center;
}

.section-cover__subtitle {
	padding: 16px 0 27px 0;
}


/* $Section operation
   ==================================== */

.section-operation {
	@extend %screen-main;
	padding: 48px var(--pad-m) 68px var(--pad-m);
}

	.panel-operation {
		display: flex;
		flex-direction: column;
		gap: 25px;
		padding-top: 26px;

		@include a.bp(large) {
			flex-direction: row;
			justify-content: space-between;
		}

	}



/* $Section restaurants
   ==================================== */

.section-restaurants {
	background-color: a.$wild-sand;
	padding-top: var(--pad-xb);
	padding-bottom: var(--pad-xb);

	& > * {
		@extend %screen-main;
		padding-left: var(--pad-m);
		padding-right: var(--pad-m);
	}
}

	.panel-restaurants {
		padding-top: 10px;

		@include a.bp(medium) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			gap: 32px;
		}
	}