/*
  ========================================
  $Restaurant page
  ========================================
*/

@use '../abstracts' as a;

/* $Section cover
   ==================================== */

.section-cover {
	
}


/* $Section restaurant
   ==================================== */

.section-restaurant {
	border-radius: 2.5rem 2.5rem 0 0;
	background-color: a.$wild-sand;
	padding: 42px 17px 40px 17px;
}

.restaurant {

	&__headline {
		@extend %flex--between;
	}

	&__heading-1 {
		padding-right: 24px;
	}

}