/* $Colors
   ==================================== */

// button color 1 / button list / icon color :hover
$medium-purple: hsl(267, 65%, 60%);
// rgb(147, 86, 220)

// button color 2
$blush-pink: hsl(316, 100%, 73%);
// rgb(255, 121, 218)

// block new background / item checked / underline
$morning-glory: hsl(165, 55%, 74%);
// rgb(153, 226, 208)

// block new text
$deep-sea: hsl(165, 100%, 26%);
// rgb(0, 135, 102)

// list icon color
$gray: hsl(0, 0%, 49%);
// rgb(126, 126, 126)

// color not found
$malibu: #89c8fa;
// rgb(137, 200, 250)

// color not found
$midnight-blue: #003a68;
// rgb(0, 58, 104)

// logo header
$cod-gray: #101010;
// rgb(16, 16, 16)

// text sur fond clair / entrées du menu
$black: #000;
// rgb(0, 0, 0)

// button text / background card / background body
$white: #fff;
// rgb(255, 255, 255)

// background location
$gallery: #eaeaea;
// rgb(234, 234, 234)

// background footer / text subtitle cover / text location / couleur flèche (ajouter hover)
$mine-shaft: #353535;
// rgb(53, 53, 53)

// background cover / background item fonctionnement / background restaurant
$wild-sand: #f6f6f6;
// rgb(246, 246, 246)